/* Index Page styles ************************************************ */


#serachField{
	position: absolute;
	width: 98%;
	height: 50%;				
}

#topFiveListField{
	position: absolute;
	bottom: 0;
	width: 98%;
	height: 50%;	

	border: 1px solid grey;				
}

#errorMessageDiv{
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	height: 10%;
}

#postcodeFieldDiv{
	position: absolute;
	top: 0;
	left: 0;
	height:85%;
	width: 50%;
}

#locationButtonDiv{
	position: absolute;
	top: 0;
	right: 0;
	height:85%;
	width: 50%;
}

#postcodeField{
	position: absolute;
	bottom: 0;
	right: 0;
}

#locationButton{
	position: absolute;
	bottom: 0;
	left: 0;
}

#loginLink{
	position: absolute;
	top: 0;
	right: 0;
}

/* Radar styles ***************************************************** */
.radar-body {
	fill : black;
	stroke : black;				
}

.radar-grid-line {
	stroke : #0000FF;
}
	
.radar-range-circle {
	fill : none;
	stroke : #0000FF;				
}

.radar-center {
	fill : #0000FF;
}

.radar-detector-line {
	stroke: #00cccc;
}
			
.dot-text {
	fill: black;
	font-family: sans-serif;				
}

.radar-range-text {
	fill: white;
	font-family: sans-serif;
	}

.radar-text-box {
	fill: black;
	stroke: #0000FF;	
	}

/* Map styles ******************************************************** */
#map{
	visibility: hidden;
}
#map0{
	width:160px;
	height:80px;
}

#map1{
	width:160px;
	height:80px;
}

#map2{
	width:160px;
	height:80px;
}

#map3{
	width:160px;
	height:80px;
}

#map4{
	width:160px;
	height:80px;
}
